body {
    font-family: sans-serif;
    background-color: #ffffff;
}

button {
    color: #ffffff;
    border-radius: 8px;
    background: #949494;
    font-style: normal;
    border: white;
    font-size: x-large;
}
#titlebb{
    font-size:x-large !important;
}
.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1fb264;
    border: none;
    padding: 5%;
    border-radius: 4px;
    border-bottom: 4px solid #15824b;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1aa059;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all 0.2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    border: 2.5px dashed grey;
    position: relative;
    margin: auto;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #ffffff;
    border: 3px dashed #000000;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 70;
    text-transform: uppercase;
    color: #000000;
    padding: 20% 10%;
}

.file-upload-image {
    max-width: 90%;
    margin: auto;
    padding: 3%;
}

.remove-image {
    width: auto;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 3%;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all 0.2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 300;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all 0.2s ease;
}

.nav-distance {
    padding: 2.1% 7.7%;
}

.section {
    margin-top: 5%;
    padding: 0 2%;
}

.bigtitle {
    text-align: center;
}

.smalltitle {
    text-align: center;
}

.main-up {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border: solid 1.5px #f7f8fb;
    background-color: #fbfbfb;
    padding: 3% 10%;
}
.btm-section {
    padding: 20px;
}
@media screen and (max-width: 600px) {
    html {
        font-size: 8px;
    }
}

.rbtn {
    background: black;
    border-radius: 5%;
}
.upla {
    max-height: 30%;
    align-content: center;
    max-width: 40%;
}
#mydiv{
    text-align: center;
}